
.quiz-container {
    
    
    width: 648px;
    height: 58vh;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    background-image: url(./image/bg1.webp);
    box-shadow: 1px 1px 6px 6px  rgb(133, 128, 128);
    
  }
  .title{
    width: 500px;
    margin-top: 30px;
    margin-left: 70px;
    color: rgb(226, 45, 250) ;
    text-shadow: 3px 4px 5px rgb(43, 154, 245) ;
    
  }
  
  
  
  .start-button {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 50px;
    
    color: #0c0c0c; 
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-color: rgb(226, 45, 250);
  }
  
  .start-button:hover {
    background-color: transparent;
    background-color: #ffffff; 
    color: #000000; 
    border-color: #ffffff; 
    box-shadow: 1px 1px 10px 5px  rgb(236, 134, 250);
  }
  

